*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(14, 39, 22);
}

/* NAV BAR */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #101111d5;
    /* padding: atas bawah */
    /* padding: 20px 50px;  */
    padding: 3vh 7vw;
    position: sticky;
    top: 0;
}
.logo span{
    color: white;
    font-family: pt 'Times New Roman', Times, serif;
    font-size: 40px;
}
.pages{
    width: 15%;
    font-style: normal;
    font-family: 'Times New Roman', Times, serif;
    display: flex;
    justify-content: space-between;
}
.pages a{
    color: white;
    font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif; 
    text-align: center;
    font-size: 13px;
    /* padding: 0 2vw; */
}

/* HEADER */
.banner img{
    width: 100%;
    height: 20vh;
    
    object-fit: cover;
}
.slogan{
    position: absolute;
    top: 18vh;
    left: 7vh;
    right: 7vh;
    text-align: center;
}
.slogan h1{
    font-size: 45px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: white;
}

/* CONTENT */
.content{
    justify-content: center;
    margin-left: 7vw;
    margin-right: 7vw;
    margin-top: 2.5vw;
    margin-bottom: 2.5vw;
}
.card{
    display: flex;
    text-align: right; 
    background-color: white;
    box-shadow: 0 0 20px black;
    border-radius: 10px;
}
.image{
    width: 75vw;
}
.image img{
    display: block;
    width: 50vw;
    object-fit: cover;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
.text{
    margin: 2.5vw;
    width: 50vw;
    text-align: left;
    font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
    font-size: 2.2vw;
}   
.text h3{
    margin-bottom: 3vh;
}
.text span{
    font-size: 1.1vw;
}
.price{
    font-size: 2vw;
    padding-top: 10vh;
    text-align: right;
}

/* FOOTER */
footer{
    background-color: rgb(5, 17, 8);
    padding: 1vh 7vw;
}
.socials{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1vh 7vw;
}
.fa-brands{
    margin: 1vw;
    color: white;
    padding-bottom: 1vh;
}
.socials-text span{
    text-align: center;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 17px;
    color: white;
}